<%- include('partials/header') %>
        <h1>Contact Details</h1>
        <table class="table">
            <tr>
                <th>Address:</th>
                <td>Toros University Campus, Yenisehir Mah. 33140 Mersin</td>
            </tr>
            <tr>
                <th>Phone:</th>
                <td>+90 324 123 4567</td>
            </tr>
        </table>
    </div>
</body>
</html>