<%- include('partials/header') %>
        <div class="alert alert-success">
            <%= message %>
        </div>
        <div class="mt-3">
            <% links.forEach(link => { %>
                <a href="<%= link.url %>" class="btn btn-link"><%= link.text %></a>
            <% }) %>
        </div>
    </div>
</body>
</html>